h1,h2,h3,p{
  font-family: helvetica;
}
h1{
  background-image: url(../images/pattern.jpeg);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.greenbg{
  background-color: mediumspringgreen;
}
.redbg{
  background-color:lightcoral;
}

.bluebg{
  background-color: skyblue;
}
.price{
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}
